<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>

		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Mono.Cecil"
								  culture="neutral" />
				<codeBase version="0.9.5.0"
						  href="libs/Mono.Cecil.dll"/>
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Ionic.Zip"
								  culture="neutral" />
				<codeBase version="1.9.1.8"
						  href="libs/Ionic.Zip.dll"/>
			</dependentAssembly>
		</assemblyBinding>
		<loadFromRemoteSources enabled="true"/>
	</runtime>
</configuration>